<div style=" font-family: 'Roboto Regular', arial; max-width: 850px;">
	<div class="headerModelRed">
		<div class="row">
			<div class="col-md-1" style="padding-right: 0px; padding-left: 25px;">
				<img src="./assets/img/{{info.nameIcon}}" alt="">
			</div>
			<div class="col-md-10" style="padding-left: 0px; padding-top: 5px;">
				{{ info.title  }}
			</div>
			<div class="col-md-1">
				<p class="close" ng-click="cancel()">X</p>
			</div>
		</div>
	</div>
	<div ng-cloak>
		<md-content class="md-padding" style="background-color: white; padding-bottom: 0px;">
			<div id="information" class="descripcion"></div>
		</md-content>
	</div>
	<div>
		<md-button class="md-raised md-accent buttonModalOk" ng-click="acept()"><strong>{{ info.nameBttOK }}</strong>
		</md-button>
		<md-button class="md-raised md-accent buttonModalCancel" ng-click="cancel()"><strong>{{ info.nameBttCancel }}</strong>
		</md-button>
	</div>
</div>