<div style=" font-family: 'Roboto Regular', arial; max-width: 1000px;">
	<div class="headerModelRed">
		<img src="./assets/img/{{info.nameIcon}}" alt=""> {{ info.title }}
		<p class="close" ng-click="salir()">X</p>
	</div>
	<div ng-cloak>
		<md-content class="md-padding" style="background-color: white">
			<div id="information"></div>
		</md-content>
	</div>
	<div>
		<md-button class="md-raised md-accent buttonModal" ng-click="salir()" style="margin-right: 15px;"><strong>Salir</strong>
		</md-button>
	</div>
</div>