<div class="sizeModal">
	<div ng-cloak>
		<md-content>
			<md-content class="md-padding md-white">
				<div class="descripcion">{{info.description}}</div>
			</md-content>
		</md-content>
	</div>
	<div style="margin-bottom:20px">
		<md-button class="md-accent buttonModalOkInfoEmi" ng-click="acept()"><strong>{{ info.nameBttOK }}</strong>
		</md-button>
		<md-button class="md-accent buttonModalCancelInfoEmi" ng-click="cancel()"><strong>{{ info.nameBttCancel }}</strong>
		</md-button>
	</div>
</div>