<section class="container card container-dialog">
	<div class="header1">
		Exclusiones generales
	</div>
	<div ng-cloak>
		<md-content>
					<md-content class="md-padding">
						<div class="panel panel-default">
						<p> {{exclusionesGeneralesText}} </p>
						
<!-- 							<div class="panel-heading row" ng-click="showHide(grupoCobertura)"> -->
<!-- 								<div class="col-md-11 text-left"><b>{{grupoCobertura.name}}</b></div> -->

<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<div class="panel-body" ng-if="grupoCobertura.show"> -->
<!-- 								<md-content class="sombra" -->
<!-- 									ng-if="grupoCobertura.description && grupoCobertura.description != 0" -->
<!-- 									style="padding-top: 10px;"> -->
<!-- 									<div class="descripcion">{{grupoCobertura.description}}</div> -->
<!-- 								</md-content> -->
<!-- 							</div> -->
						</div>
					</md-content>
		</md-content>
	</div>
</section>